<div class="center-container">
    <h1>Track #{{ currentQuestion }}</h1>
    <button class="button" (click)="newGame()">New Game</button>
    <br />
    <ng-container *ngIf="track">
        <div class="box-shadow">
            <figure>
                <audio controls [src]="track.previewUrl"></audio>
                <p *ngIf="difficulty === 'easy'">{{track.name}}</p>
            </figure>
        </div>
    </ng-container>
    <div *ngIf="!gameLoading">
        <div class="artists-container">
            <app-artist-card *ngFor="let artist of artistOptions" [artist]="artist" (click)="wrongAnswers.includes(artist.id) ? null : select(artist.id)" [selectedArtistId]="selectedArtistId"></app-artist-card>
        </div>
        <br />
        <button class="button" [disabled]="selectedArtistId ? false : true" (click)="submitAnswer()">Submit Answer</button>
        <br />
        <div class="text-box box-shadow">
            <div class="wrong" id="wrong">
                <p>Wrong! Try again.</p>
            </div>
            <div class="correct" id="correct">
                <p>Correct!</p>
            </div>
            <p>Guesses remaining: {{ guesses }}</p>
        </div>
    </div>
    <div *ngIf="gameLoading" class="box-shadow">
        <p>Loading ...</p>
    </div>
    <app-popup (togglePopupEvent)="togglePopup()"></app-popup>
</div>
