<h1>Question #{{ currentQuestion }}</h1>
<!-- <figure>
    <button (click)="playAudio()">Play</button>
</figure> -->
<ng-container *ngIf="track">
    <figure>
        <audio controls [src]="track.previewUrl"></audio>
        <p *ngIf="difficulty === 'easy'">{{track.name}}</p>
    </figure>
</ng-container>
<app-artist-card *ngFor="let artist of artistOptions" [artist]="artist" id="{{ artist.id }}" (click)="select(artist.id)" [selectedArtistId]="selectedArtistId"></app-artist-card>
<br />
<button (click)="submitAnswer()">Submit Answer</button>
<p>Guesses remaining: {{ guesses }}</p>
<app-popup (togglePopupEvent)="togglePopup()"></app-popup>

<!-- <script src="../../../node_modules/howler/src/howler.core.js"></script> -->